Source: cmpconflash
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Craig Hesling <craig@hesling.com>
Rules-Requires-Root: no
# Pkg ca-certificates is required to be able to download (and verify) packages
# with "go get". We need this because we are explicitly downloading dependencies
# during the build phase. See the rules file for further explanation.
# The ca-certificates pkg is usually installed as a recommendation/suggestion,
# but may be omitted based on apt settings.
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any,
               ca-certificates
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/linux4life798/cmpconflash
Vcs-Git: https://github.com/linux4life798/cmpconflash.git
Homepage: https://github.com/linux4life798/cmpconflash
XS-Go-Import-Path: github.com/linux4life798/cmpconflash

Package: cmpconflash
Section: utils
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Description: Compares different versions of firmware images for upgradeability
 This tool allows you to **compare and contrast** multiple flash
 firmware image binaries with respect to different flash page sizes.
 The idea is to be able to identify how many block are common
 between firmware binaries to understand how fast an optimized update may take.
 .
 See https://github.com/linux4life798/cmpconflash for more information.
